<!-- downloads.html -->
{% extends 'base.html' %}
{% block content %}

<main id="main">
        {% include "header.html" %}
    <div class="vertical-space">
<div class="col-12 center-flex">
    <div class="container overflow-auto">
        <div class="card my-3" style="text-align: center;">
            <h3>Menschen : A1</h3>
            <p>Discover resources that provide foundational knowledge of the German language,
                along with downloadable materials.</p>
            <a href="{% url 'menschen_a1' %}" style="display: block;">Learn More</a>
        </div>
    </div>
</div>
<div class="col-12 center-flex">
    <div class="container overflow-auto">
        <div class="card my-3" style="text-align: center;">
            <h3>Menschen : A2</h3>
            <p>Progress in your German language studies with access to downloadable course materials.</p>
            <a href="{% url 'menschen_a2' %}" style="display: block;">Learn More</a>
        </div>
    </div>
</div>
<div class="col-12 center-flex">
    <div class="container overflow-auto">
        <div class="card my-3" style="text-align: center;">
            <h3>Menschen : B1</h3>
            <p>With an intermediate level in German, advance your language proficiency through accessible, downloadable course materials.</p>
            <a href="{% url 'menschen_b1' %}" style="display: block;">Learn More</a>
        </div>
    </div>
</div>
<div class="col-12 center-flex">
    <div class="container overflow-auto">
        <div class="card my-3" style="text-align: center;">
            <h3>Grammatik Aktiv</h3>
            <p> Download comprehensive resources for grammar and vocabulary to enhance your fluency.</p>
            <a href="{% url 'grammatik_aktiv' %}" style="display: block;">Learn More</a>
        </div>

    </div>
</div>


    </div>
</main>

<!--datatables-->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>


<script>
    // Existing DataTable initialization
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

<script>
    // Existing DataTable initialization
    $(document).ready(function () {
        $('#example1').DataTable();
    });
</script>

{% endblock %}
